
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - doceglamour</title>
    <link rel="stylesheet" href="~/Bootstrap 4/css/bootstrap.min.css" />
    <link href="~/fontawesome-free-5.12.1-web/css/all.css" rel="stylesheet">
    <link href="~/css/PagedList.css" rel="stylesheet" />
    <link href="~/css/Menu.css" rel="stylesheet" />
    <link href="~/css/Main.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/bcdf4fbfba.js" crossorigin="anonymous"></script>


</head>
<body>
    <div>
        <nav class="navbar fixed-top navbar-light bg-light">
            <a class="navbar-brand" href="../../Menu/Index" style="font-family:Verdana">Doce Glamour</a>
            <a class="navbar-brand" href="../../Menu/Sair" style="font-family: Verdana">Sair</a>
            
        </nav>
    </div>
    
    <div>
        
        <div class="sidebar col-md-2 col-lg-2" id="sidebarId">
            <ul>
                <li class="nav-item">
                    <a class="nav-link active" href="../../Menu/Index">
                        <i class="fas fa-home"></i>Início
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../Cliente/Index">
                        <i class="fas fa-user-plus"></i>Cliente
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../Produto/Index">
                        <i class="fas fa-box-open"></i>Produto
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../Pedido/Index">
                        <i class="fas fa-cart-arrow-down"></i>Pedido
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../Caixa/Index">
                        <i class="fas fa-dollar-sign"></i>Fluxo de Caixa
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../Relatorios/Index">
                        <i class="fas fa-chart-line"></i>Relatórios
                    </a>
                </li>
            </ul>
            <button class="sidebarBtn">
                <span></span>
            </button>
            <div class="container">
                <div class="row">
                    <img src="~/LogoDoceGlamour.png" />
                </div>
                
            </div>

        </div>

        @RenderBody()



    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/Bootstrap 4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>