@{ 
    Layout = "_MenuLayout";
}

<!DOCTYPE html>
<html>
<head>
    <title>Menu Principal</title>
    <link href="~/css/Menu.css" rel="stylesheet" />

</head>
<body>

    <main class="col-md-9 ml-sm-auto col-lg-10 ml-auto px-4">
        <div class="d-flex justify-content-between align-items-center mt-4  pb-2 mb-3">
            <h1>TESTANDO</h1>

        </div>
     
    </main>

</body>
</html>