
@{
    ViewData["Title"] = "Index";
    Layout = "_MenuLayout";
}
    <head>
        <link href="~/css/FluxoCaixa.css" rel="stylesheet" />
    </head>
    <body>
        <main class="col-md-10 ml-sm-auto col-lg-10 ml-auto">

            <h1 id="mensagem">EM BREVE...</h1>


        </main>
    </body>
    