@model ProdutoModel
@{
    Layout = "_MenuLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Novo Produto</title>
    <link href="~/css/Menu.css" rel="stylesheet" />
</head>
<body>

    <main class="col-md-9 ml-sm-auto col-lg-10 ml-auto">
        <div class="d-flex justify-content-between align-items-center mt-4  pb-2 mb-3">
            <div class="container">
                <form asp-controller="Produto" asp-action="AdicionarProduto" method="post">
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="nomeCliente">Nome do Produto</label>
                            <input asp-for="nome" type="text" class="form-control" id="nomeCliente" placeholder="Bolo de chocolate">
                            <span asp-validation-for="nome" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="codigo_produto">Código do Produto</label>
                            <input asp-for="codigo_produto" type="text" class="form-control" id="codigo_produto" placeholder="ABC123">
                            <span asp-validation-for="codigo_produto" class="text-danger"></span>

                        </div>
                        <div class="form-group col-md-4">
                            <label for="valor">Preço</label>
                            <input asp-for="valor" type="text" class="form-control" id="valor" placeholder="19,90">

                        </div>
                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-4">
                            <label for="categoria">Categoria</label>
                            <select asp-for="categoria" id="categoria" class="form-control">
                                
                                <option selected value="Alimentício">Alimentício</option>
                                <option value="Papelaria">Papelaria</option>

                            </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="link_foto">Link da Foto</label>
                            <input asp-for="link_foto" type="text" class="form-control" id="link_foto">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="observacao">Observação</label>
                            <textarea class="form-control" id="observacao" rows="3" asp-for="observacao"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a class="btn btn-danger" href="../../Produto/Index" id="cancelarproduto" role="button">Cancelar</a>
                </form>
            </div>
        </div>
    </main>
</body>
</html>
