body {
    
    background-image: url('../Free-Candy-Pattern-Vectors.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    left:0;
    width:100%;
    padding:0;

}
#atribuicao{
    float : right;
}
.principal{
    top : 150px;
}